<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-101</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id = "app">
        <p> {{rawHtml}} </p>
        <p v-if="seen" >Using v-html directive: <span v-html="rawHtml"></span></p>
        <button @click="toggleShow" :disabled="isButtonDisabled">{{ seen ? 'hidden' : 'show'}}</button>
        <button @click="toggleBtn">{{ isButtonDisabled ? "解除锁定":"锁定显示按钮" }}</button>
        <p> {{ message }} </p>
        <p> reverse by words is {{reverseWord}}</p>
        <p v-once>{{ "The message using v-once "+message }}</p>
        <input type="text" v-model="message">
        <button @click="reverseMessage" :title="message">逆转消息</button>
        <ol>
            <li v-for="(todo , index) in todos" :key="'list'+todo.id" v-if="todo.show"> <span :id="'list'+index">{{ todo.text }}</span> </li>
        </ol>
        <p>
            <label for="fullname">FullName</label>
            <input type="text" id="fullname" v-model="fullName">
        </p>
        <p>
            <label for="firstname">FirstName</label>
            <input type="text" id="firstname" v-model="firstName">
            <label for="lastname">LastName</label>
            <input type="text" id="lastname" v-model="lastName">
        </p>
        <hr>
        <p class="box-padding" :class="{active: isActive , 'textWhite': textColor}">
            <label for="question">Ask a yes/no question</label>
            <input type="text" id="question" v-model="question">
        </p>
        <p :class="classObject"> {{ answer }} </p>
        <hr>
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <hr>
        <p>
            <template v-if="loginType === 'username'">
                <label>Username</label>
                <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Enter your email address" key="email-input">
            </template>
        </p>
        <p>
            <button :id="testBindID" @click="toggleLoginType">Toggle loginType</button>
        </p>
        <hr>
        <span v-for="n in evenNumber">{{n}}</span>
        <br>
        <span v-for="n in getEvenNumber(numbers)">{{n}}</span>
        <p>
            <button @click.stop="say('hi')">sayHi</button>
        </p>
        <div id="example-5">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
    </div>

    <!-- script below -->
    <script>

        var data = {
            selected: '',
            testBindID: 'testID',
            loginType: 'username',
            ok: 1,
            seen: true,
            isButtonDisabled: false,
            isActive: true,
            textColor: true,
            boxPadding: true,
            message: 'Hello Vue!',
            firstName: '',
            lastName: '',
            question: '',
            answer: 'I cannot give you an answer until you ask a question!',
            todos: [
                { id : 1 , text : '学习JavaScript' , show : true},
                { id : 2 , text : '学习Vue' , show : false},
                { id : 3 , text : '整个牛项目' , show : true}
            ],
            numbers: [1,2,3,4,5,6,7,8,9,10],
            rawHtml: '<span style="color:red">This text should be red!</span>'
        };

        console.log("data before new a Vue is : ");
        console.log(data);

        var app = new Vue({
            el: '#app',
            data: data,
            computed: {
                reverseWord : function(){
                    return this.message.split(" ").reverse().join(" ");
                },
                fullName : {
                    get : function(){
                        if(!this.firstName && !this.lastName)
                            return '';
                        if(this.firstName && !this.lastName)
                            return this.firstName;
                        if(!this.firstName && this.lastName)
                            return this.lastName;
                        return this.firstName+' '+this.lastName;
                    },
                    set : function(newValue){
                        console.log('fullName setter called! , new fullName is : ',newValue);
                        var names = newValue.split(' ');
                        console.log(names);
                        this.firstName = names[0] ? names[0] : '';
                        this.lastName = names[1] ? names[1] : '';
                    }
                },
                classObject: function(){
                    return {
                        active: this.isActive,
                        'textWhite': this.textColor,
                        'box-padding': this.boxPadding,
                    };
                },
                evenNumber: function(){
                    return this.numbers.filter(function(n){
                        return n%2 === 0;
                    });
                }
            },
            methods: {
                say : function(message){
                    alert(message);
                },
                reverseMessage : function(){
                    this.message = this.message.split("").reverse().join("");
                },
                toggleShow : function(){
                    this.seen = !this.seen;
                },
                toggleBtn : function(){
                    this.isButtonDisabled = !this.isButtonDisabled;
                },
                getAnswer : _.debounce(
                    function () {
                        if (this.question.indexOf('?') === -1) {
                            this.answer = 'Questions usually contain a question mark. ;-)'
                            return
                        }
                        this.answer = 'Thinking...'
                        var vm = this
                        axios.get('https://yesno.wtf/api')
                            .then(function (response) {
                                vm.answer = _.capitalize(response.data.answer)
                            })
                            .catch(function (error) {
                                vm.answer = 'Error! Could not reach the API. ' + error
                            })
                    },
                    // 这是我们为判定用户停止输入等待的毫秒数
                    500
                ),
                toggleLoginType : function(){
                    this.loginType = this.loginType === "username" ? "email" : "username";
                },
                getEvenNumber : function(){
                    return this.numbers.filter(function(n){
                        return n%2 === 0;
                    });
                }
            },
            watch: {
                question: function(newQuestion){
                    this.answer = "waitting for you stop typing !";
                    this.getAnswer();
                }
            }
        });

        app.$watch('message', function (newValue, oldValue) {
            console.log(oldValue+" ==> "+newValue);
        })
        console.log("app.$el is :");
        console.log(app.$el);
        console.log("app.$data is :")
        console.log(app.$data);
        console.log("data after new a Vue is : ");
        console.log(data);
        console.log("app.$data === data ? ", app.$data === data ? true : false);

    </script>
</body>
</html>